
<div >
  <input type="pd" class="form-control px-4"  id="NAME-one" aria-describedby="emailHelp" placeholder="CHECKOUT">

</div>

<h1 class="pd">Personal details</h1>
<form class=" contactForm px-4">

  <div class="form-group d-flex justify-content-start align-items-center">

    <label for="exampleInputEmail1">NAME</label>
    <input type="" class="form-control" id="NAME" aria-describedby="emailHelp" placeholder="placeholder">
    <small id="emailHelp" class="form-text text-muted"></small>

  </div>

  <div class="form-group d-flex justify-content-start align-items-center">

    <label for="exampleInputEmail1">NAME</label>
    <input type="" class="form-control" id="NAME" aria-describedby="emailHelp" placeholder="placeholder">
    <small id="emailHelp" class="form-text text-muted"></small>

  </div>

  <div class="form-group d-flex justify-content-start align-items-center">

    <label for="exampleInputEmail1">NAME</label>
    <input type="" class="form-control" id="NAME" aria-describedby="emailHelp" placeholder="placeholder">
    <small id="emailHelp" class="form-text text-muted"></small>

  </div>

  <button type="submit" class="btn btn-primary mt-5">Pay now</button>

  <button type="submit" class="btn btn-primary">Cancel</button>
</form>





