<div class="wrapper">
    <div class="logo">
        <img src="" alt="">
    </div>
    <div class="text-center mt-4 name">
        PhungaCafe
    </div>
    <form name="form"  (ngSubmit)="f.form.valid && SignUp()"  #f="ngForm"novalidate>
        <div class="form-field d-flex align-items-center">
            <!-- <span class="far fa-user">{{form.username}}</span> -->
            <input type="text" id="userName" placeholder="Username" 
            name="username" [(ngModel)]="form.username" >
        </div>
        <div class="form-field d-flex align-items-center">
            <!-- <span class="fas fa-key">{{form.password}}</span> -->
            <input type="email" name="email" id="pwd" placeholder="email"
            name="email" [(ngModel)]="form.email" required>
        </div>
        <div class="form-field d-flex align-items-center">
            <!-- <span class="fas fa-key">{{form.password}}</span> -->
            <input type="password" name="password" id="pwd" placeholder="Password"
            name="password" [(ngModel)]="form.password" required>
        </div>
        <button class="btn mt-3" >SignUp</button>
    </form>
    <div class="text-center fs-6">
      <a>Forget password?</a>
    </div>
  </div>