input{
  justify-items: center;
  align-items: center;
  display: flex;
}
.row{
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline;
}
.container {
  max-width: 250px;
  flex-direction: row;
  background-color: wheat;
}
.form-control{
  height: 50px;
  margin-left: 10px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
div{
  height: 80px;
  width: 100px;
  text-align: center;
  justify-content: flex;
  flex-direction: row;

 }
