 <div id=picture>
  <!-- <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
    <div class="card auth">
      <div class="card-body auth-card">
        <div class="auth-avatar"> -->
          <!-- <img src="https://media.istockphoto.com/id/1396211354/photo/coffee-border-over-old-liht-stone-background.webp?b=1&s=170667a&w=0&k=20&c=vPH4cIHw1RqiX6wnC_voTcOgJQ1JWuRhGUiKkR8ge18=" alt="user" class="user-image"> -->
        <!-- </div> -->
        <!-- <form > -->
          <div class="form-group">
            <label for="email">Email : </label>
            <input type="text" name="email" class="form-control" placeholder="Email">
          <!-- </div> -->
          <!-- <div class="form-group"> -->
            <label for="password">Password : </label>
            <input type="password" name="password" class="form-control" placeholder="********">
            <div class="text-right forget-pass">
              <a routerLink="/forget-password">Forget Password ?</a>
            </div>

          <div class="text-center">
            <button onclick="submit" class="btn btn-my" value="Login" >Login</button>
          </div>
        <!-- </form> -->
        <div class="text sign-up">
          Don`t have an account ? <a routerLink="/register">Sign Up</a> here.
        </div>
      </div>


      <!-- </div>
    </div>
  </div> -->
</div>
