<app-nav></app-nav>
<div class="bg-dark">
    <div class="container py-4">
      <!-- Breadcrumb -->
      <nav class="d-flex">
        <h6 class="mb-0">
          <!-- <a routerLink="/menu" class="text-white-50">1. Home</a>
          <span class="text-white-50 mx-2"> > </span>
          <a routerLink="/Cart" class="text-white"><u>2. Cart</u></a>
          <span class="text-white-50 mx-2"> > </span>
          <a routerLink="/Checkout" class="text-white-50">3. Order info</a>
          <span class="text-white-50 mx-2"> > </span>
          <a routerLink = "/Payment" class="text-white-50">4. Payment</a> -->
        </h6>
      </nav>
      <!-- Breadcrumb -->
    </div>
  </div>

<main>
<section class="shopping-cart dark">
    <div class="container">
       <div class="block-heading">
         <h2>Cart</h2>
         <p>Enjoy your easy shopping experience , Shop again</p>
       </div>
       <div class="content">
            <div class="row">
                <div class="col-md-12 col-lg-8" *ngFor = "let item of items">
                    <div class="items">
                        <div class="product">
                            <div class="row">
                                <div class="col-md-3">
                                    <img class="img-fluid mx-auto d-block image" src={{item.picture}}>
                                </div>
                                <div class="col-md-8">
                                    <div class="info">
                                        <div class="row">
                                            <div class="col-md-5 product-name">
                                                <div class="product-name">
                                                    <a href="#"></a>
                                                    <div class="product-info">
                                                        <div>Product: <span class="value">{{item.itemname}}</span></div>
                                                        
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-4 quantity" >
                                                <label for="quantity">Quantity:</label>
                                                <input id="quantity" type="number"  value ={{item.qty}} class="form-control quantity-input" >
                                            </div>
                                           
                                            <div class="col-md-3 price">
                                                <span>R{{item.price}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="summary">
                        <h3>Summary</h3>

                        <div class="summary-item"><span class="text">Total</span><span class="price">R{{total}}</span></div>
                        
                        <button type="button" class="btn btn-dark btn-lg btn-block" routerLink="/Checkout">Checkout</button>
                        <button type="button" class="btn btn-dark btn-lg btn-block button1" routerLink="/menu">Back to Menu</button>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</section>
</main>
