<app-navbar></app-navbar>


<div class="jumbotron text-center justify-content-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong></strong>  for shopping with us your oder will be proccess shortly once order is ready </p>
  <p> for any queries please contact this 083-674-0498 </p>
  <hr>
  
  <p class="lead">
    <a class="btn btn-success btn-sm"  role="button">Continue to homepage</a>
  </p>

  <img src="../../../assets/Coffe.png" class="img-fluid"   alt="" width="500px">
</div>


  