<!-- Navigation-->
<app-nav></app-nav>

<!-- Header-->

<div id="slider">
  <div class="slides">
    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1 class="wordss">Coffe Cafe</h1>
          <h2 class="wordss">
            Get yourself a cup of coffe to get your day stared
          </h2>
        </div>
      </div>
      <div class="image">
        <img
          src="https://images.unsplash.com/photo-1558303420-f814d8a590f5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=465&q=80"
        />
      </div>
    </div>
    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1 class="wordss">Specials on All Muffins</h1>
          <h2 class="wordss">
           20% on all muffin valid till 1 of July
          </h2>
        </div>
      </div>
      <div class="image">
        <img
          src="https://images.unsplash.com/photo-1511920170033-f8396924c348?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80"
        />
      </div>
    </div>
    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1 class="wordss">Lorem ipsum dolor</h1>
          <h2 class="wordss">
            Nam ultrices pellentesque facilisis. In semper tellus mollis nisl
            pulvinar vitae vulputate lorem consequat. Fusce odio tortor, pretium
            sit amet auctor ut, ultrices vel nibh.
          </h2>
        </div>
      </div>
      <div class="image">
        <img
          src="https://images.unsplash.com/photo-1510972527921-ce03766a1cf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80"
        />
      </div>
    </div>
    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1 class="wordss">Lorem ipsum dolor</h1>
          <h2 class="wordss">
            Nam ultrices pellentesque facilisis. In semper tellus mollis nisl
            pulvinar vitae vulputate lorem consequat. Fusce odio tortor, pretium
            sit amet auctor ut, ultrices vel nibh.
          </h2>
        </div>
      </div>
      <div class="image">
        <img
          src="https://images.unsplash.com/photo-1514134583630-250e42c36dbd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80"
        />
      </div>
    </div>
  </div>
  <div class="switch">
    <ul>
      <li>
        <div class="on"></div>
      </li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>

<!-- Section-->
<section class="py-5">
    <h1 class="heading">OUR MENU</h1>
  <div class="container px-4 px-lg-5 mt-5">
   
    <div
      class="row gx-4 gx-lg-5 row-cols-4 row-cols-md-3 row-cols-xl-6 justify-content-start"
    >
      <div class="col-6 godcard">
        <div class="card">
          <!-- Product image-->
          <a routerLink="/view"><img
            class="card-img-top"
            src="https://static.onecms.io/wp-content/uploads/sites/43/2022/05/19/228553-MoistChocolateMuffins-mfs-2X3-0923.jpg"
            alt="..."
          />  </a>
          <!-- Product details-->
          <div class="card-body">
            <div class="">
              <!-- Product name-->
              <h6 class="fw-bolder">Fancy</h6>
              <!-- Product price-->
              <p>$80.00</p>
            </div>
          </div>
          <!-- Product actions-->
        </div>
      </div>

      <div class="col-6 godcard">
        <div class="card">
          <!-- Product image-->
          <img
            class="card-img-top"
            src="https://static.onecms.io/wp-content/uploads/sites/43/2022/05/19/228553-MoistChocolateMuffins-mfs-2X3-0923.jpg"
            alt="..."
          />
          <!-- Product details-->
          <div class="card-body">
            <div class="">
              <!-- Product name-->
              <h6 class="fw-bolder">Fancy</h6>
              <!-- Product price-->
              <p>$80.00</p>
            </div>
          </div>
          <!-- Product actions-->
        </div>
      </div>

      <div class="col-6 godcard">
        <div class="card">
          <!-- Product image-->
          <img
            class="card-img-top"
            src="https://static.onecms.io/wp-content/uploads/sites/43/2022/05/19/228553-MoistChocolateMuffins-mfs-2X3-0923.jpg"
            alt="..."
          />
          <!-- Product details-->
          <div class="card-body p-2">
            <div class="subCardBody">
              <!-- Product name-->
              <h6 class="fw-bolder">Fancy</h6>
              <!-- Product price-->
              <p>$80.00</p>
              <svg
                class="icon"
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 48 48"
              >
                <circle cx="24" cy="24" r="21" fill="#4CAF50" />
                <g fill="#fff">
                  <path d="M21 14h6v20h-6z" />
                  <path d="M14 21h20v6H14z" />
                </g>
              </svg>
            </div>
          </div>
          <!-- Product actions-->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">
      <a routerLink="/view">rrrrrrrrr</a>
    </p>
  </div>
</footer>
