<nav class="navbar navbar-expand  navbar-dark bg-dark mb-2" aria-label="Tenth navbar example">
    <div class="container-fluid justify-content-even">
        <div>
            <img src="../../assets/logo.png" alt="" height="35" width="35">
        </div>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->

      <div class="expand  d-block d-md-none justify-content-center" id="navbarsExample08">
        <ul class="navbar-nav">
          <li class="nav-item me-2">
            <a class="nav-link" aria-current="page" href="#">
                <i class="fa fa-home" aria-hidden="true"></i>
            </a>
          </li>
          <li class="nav-item me-2 ">
            <a class="nav-link bag" routerLink="/Cart" >
                <i class="fa fa-shopping-bag" aria-hidden="true"></i><span class="badge badge-light">{{cartCount | async}}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link tot" href="#">
                <i><span class="total">{{cartTotal |async | currency:'R' }}</span></i>
            </a>
          </li>
          
          
        </ul>
      </div>
      
      <div class="dropdown ">
        <a class="dropdown-toggle text-align" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-bars" aria-hidden="true"></i></a>
          <ul class="dropdown-menu dropdown-menu-end ">
            <li><a class="dropdown-item" routerLink="/signin">Login</a></li>
            <li><a class="dropdown-item" routerLink="/register">Signup</a></li>
            <li ><a class="dropdown-item" >Signout</a></li>
          </ul>
        
      </div>
    </div>
  </nav>

  