<app-navbar></app-navbar>
  
  <section class="bg-light ">
    <div class="container">
      <div class="row">
        <h6 class="mb-3">Summary</h6>
        <div class="col-xl-4 col-lg-4 d-flex justify-content-center justify-content-lg-end " *ngFor="let item of items">
          <div class="ms-lg-4 mt-4 mt-lg-0" style="max-width: 320px;">
            
            <div class="d-flex justify-content-between">
              <p class="mb-2">{{item.itemname}}</p>
            </div>
           
          </div>
        </div>
        <div>Total Amount{{totalAmount}}</div>
        </div>
        <div>
          <button type="button" (click)="postToCart()">Confirm Order</button>
          <button type="button" (click)="clearCart()">Cancel Order</button>
          
        </div>
    </div>
  </section>
