<app-navbar></app-navbar>

 

<div class="container align-items-center">
  
    
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4"  >
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your Order</span>
                <!-- <span class="badge badge-secondary badge-pill">3</span> -->
            </h4>
            <ul class="list-group mb-3 sticky-top">
                <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let item of items">
                    <div>
                        <h6 class="my-0"> {{item.itemname}}</h6>
                        <small class="text-muted">{{item.quantity}}</small>
                    </div>
                    <!-- <span class="text-muted">$12</span> -->
                </li>
                
                
                
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (ZAR)</span>
                    <strong>{{totalAmount | currency: 'R'}}</strong>
                </li>

            </ul>
           
        </div>
        
    
</div>
<!-- 
        <div *ngFor="let item of items">
          {{item.itemname}}
          {{item.quantity}}
        </div>
        <div>Total Amount{{totalAmount | currency:'R'}}</div> -->
        
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-dark btn-lg btn-block me-5 my-5" (click)="payWithAyoba()">Pay</button>
          <button type="button" class="btn btn-light btn-lg btn-block button1 my-5" routerLink="/menu">Cancel Order</button>
      
        </div>
  
</div>
