<!-- <form [formGroup]="registerformGroup" (ngSubmit)="register()"> -->
  <div class="form-div">
		<div class="form-inner-div">
			<label>Name:<input type="text" formControlName="name"></label>
		</div>
    <div class="form-inner-div">
			<label>Email:<input type="text" formControlName="email"></label>
		</div>
    <div class="form-inner-div">
			<label>Password:<input type="text" formControlName="password"></label>
		</div>
    <div class="form-inner-div">
      <button type="submit">Submit</button>
    </div>
  </div>
<!-- </form> -->
