<!-- Navigation-->
<app-nav></app-nav>

<!-- Header-->

<div id="slider">
  <div class="slides">
    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1 class="wordss">Coffee Cafe</h1>
          <h2 class="wordss">
            Get yourself a cup of coffee to get your day started
          </h2>
        </div>
      </div>
      <div class="image">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/c/c5/Roasted_coffee_beans.jpg"
        />
      </div>
    </div>
    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1 class="wordss">Specials on All Muffins</h1>
          <h2 class="wordss">
           20% off on all muffins valid till 1 August
          </h2>
        </div>
      </div>
      <div class="image">
        <img
          src="https://assets.isu.pub/document-structure/230420061036-3db038cc07e4c423410da415665a8296/v1/aeffc93caa213d72051de0ddaa2e6857.jpeg" 
        />
      </div>
    </div>
    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1 class="wordss">Cake Specials</h1>
          <h2 class="wordss">
            Buy 3 slices of cake and get the cheapest one for free.
          </h2>
        </div>
      </div>
      <div class="image">
        <img
          src="ghsaVCNSNUgas cmjasiugasbjasbjksbjkasbhjsabhjbsahjbsajasxjasxashkjsahjhsajksjkh"
        />
      </div>
    </div>
    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1 class="wordss">Combo Deals</h1>
          <h2 class="wordss">
            Buy 500 ml water + 500 ml coffee + muuffin R45 
          </h2>
        </div>
      </div>
      <div class="image">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAZrqMbFJA4qIlQ4lY294ZZQY_xChL_FJL2Q&usqp=CAU"
        />
      </div>
    </div>
  </div>
  <div class="switch">
    <ul>
      <li>
        <div class="on"></div>
      </li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>

<!-- Section-->
<section class="py-5">
  <h1 class="heading">OUR MENU</h1>
  <div class="container px-4 px-lg-5 mt-5">
 
    <div class="row gx-4 gx-lg-5 row-cols-4 row-cols-md-3 row-cols-xl-6 justify-content-start">
        <div class="col-6 godcard" *ngFor = "let item of products">
          <div class="card">
          <!-- Product image-->
          <a routerLink="/view/{{item.id}}">
            <img
            class="card-img-top imagefit" height="62px"
            src={{item.picture}}
            alt="..."
          /></a>
          <div class="card-body p-2">
            <div class="subCardBody">
              <!-- Product name-->
              <h6 class="fw-bolder">{{item.itemname}}</h6>
              <!-- Product price-->
              <p>R{{item.price}}</p>
              <button type="button" (click)="addToCart(item)">
  
              <svg
                class="icon"
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 48 48"
              >
              
                <circle cx="24" cy="24" r="21" fill="#4CAF50" />
                <g fill="#fff">
                  <path d="M21 14h6v20h-6z" />
                  <path d="M14 21h20v6H14z" />
                </g>
              </svg>
              </button>
            
            </div>

            
          </div>
          <!-- Product details-->
          
          <!-- Product actions-->
          </div>
        </div>
       

        <div class="col-6 godcard" >
            <div class="card">
            <!-- Product image-->
            <a >
              <img
              class="card-img-top imagefit" height="62px"
              src=""
              alt="..."
            /></a>
            <div class="card-body p-2">
              <div class="subCardBody">
                <!-- Product name-->
                <h6 class="fw-bolder">Almighty</h6>
                <!-- Product price-->
                <p>R123</p>
                <button type="button" >
    
                <svg
                  class="icon"
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 48 48"
                >
                
                  <circle cx="24" cy="24" r="21" fill="#4CAF50" />
                  <g fill="#fff">
                    <path d="M21 14h6v20h-6z" />
                    <path d="M14 21h20v6H14z" />
                  </g>
                </svg>
                </button>
              
              </div>
  
              
            </div>
            <!-- Product details-->
            
            <!-- Product actions-->
            </div>
          </div>
    </div>
  </div>
</section>